* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(146, 134, 175);
    background-color: rgb(220, 215, 238);
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2.5vw;
    text-align: center;
    color: rgb(106, 82, 143);
}

h3 {
    font-size: 1.8vw;
}

p,
a {
    font-size: 1.6vw;
}

.container {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.header {
    background-color: rgb(159, 147, 201);
    color: rgb(78, 41, 138);
    text-align: center;
    padding: 1px;
}

.center {
    text-align: center;
}


/* Responsive elements */

.left {
    float: left;
    width: 20%;
}

.main {
    float: left;
    width: 60%;
    padding: 0 15px;
}

.right {
    float: left;
    width: 20%;
    background-color: rgb(161, 147, 201);
    color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 25px;
}

div.left p {
    background-color: rgb(161, 147, 201);
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    padding: 25px;
    border-radius: 25px;
}


/* Nav style */

.nav a {
    background-color: rgb(161, 147, 201);
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    border-radius: 25px;
}


/* Footer style */

.footer {
    background-color: rgb(161, 147, 201);
    color: white;
    padding: 10px;
    clear: both;
}

footer {
    width: 100%;
}

@media only screen and (max-width:620px) {
    .left,
    .main {
        width: 50%;
    }
    .right {
        width: 100%;
    }
}

@media (min-width:621px) and (max-width:1000px) {
    .main {
        width: 80%;
    }
    .right {
        width: 100%;
    }
}