body {
    background-color: rgb(237, 229, 220);
    color: rgb(81, 118, 100);
    font-family: "Times New Roman", Times, serif;
}


/* Nav Bar */

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    padding-right: 100px;
}

ul li a:link {
    color: rgb(81, 118, 100);
    text-decoration: none;
}


/* Grid content adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout */

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
}

.logo {
    grid-column: 1/20;
    grid-row: 1;
    border: 2px solid;
}

.nav {
    grid-column: 3/11;
    grid-row: 1;
    border: 2px solid;
    padding-top: 20px;
    text-align: center;
}

.music {
    grid-column: 10;
    grid-row: 1;
    border: 2px solid;
}

.four {
    grid-column: 1/20;
    grid-row: 1/6;
    border: 2px solid;
    text-align: center;
    font-size: 60px;
    padding-top: 250px;
}

.intro {
    grid-column: 8/20;
    grid-row: 6/10;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    text-align: bottom;
}

.six {
    grid-column: 1/8;
    grid-row: 6;
    border-left: 2px solid;
    border-bottom: 2px solid;
}