body {
    background-image: linear-gradient(rgb(187, 184, 219), rgb(110, 99, 185));
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
}

.nav {
    list-style: none;
    border: 3px solid rgb(139, 135, 192);
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.nav li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}