body {
    background-color: rgb(188, 241, 241);
    text-align: center;
    padding: 50px;
}

.nav {
    list-style: none;
    border: 3px solid rgb(133, 184, 231);
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.menu-item {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}